Code/log.txt
Code/__pycache__/*.pyc
Code/__pycache__/Algorithm.cpython-311.pyc
Code/__pycache__/Dyad.cpython-311.pyc
Code/__pycache__/DyadPool.cpython-311.pyc
Code/__pycache__/my_logger.cpython-311.pyc
Code/__pycache__/Observation.cpython-311.pyc
Code/__pycache__/People.cpython-311.pyc
Code/__pycache__/Trial.cpython-311.pyc
Code/__pycache__/TrialTime.cpython-311.pyc
Code/__pycache__/utils.cpython-311.pyc
Code/Algorithms/__pycache__/*.pyc
*.pyc
*.Rhistory
*.docx
*.Rda
*.DS_Store
*.pdf
*.txt
*.err
*.out
*.pkl
*.ipynb
OptPolicy/*
.vscode
*_theta_rwd_Game.csv
*_theta_rwd_Target.csv
*_theta_rwd_Care.csv

Q-starForm.md
Experiment/Old/*